nav.navbar {
  color: white;
  width: 100%;
  padding: 20px 100px;
  position: fixed;
  top: 0;
  z-index: 50;
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container .logo {
  width: 100%;
  height: auto;
  max-width: 150px;
  object-fit: contain;
}

.nav-links-container {
  position: relative;
  display: flex;
  gap: 40px;
  padding: 30px 50px;
}

.nav-links {
  font-size: 20px;
  line-height: 1.4;
  z-index: 9999999999999;
}

.clipped-shape::before {
  content: "";
  background-color: var(--clip-border-color, #fff);
  transition: background-color 0.4s ease-in-out;
  position: absolute;
  inset: 0;
  z-index: 1;
  -webkit-clip-path: polygon(
    8px 15px,
    8px calc(100% - 8px),
    calc(100% - 46px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 30px),
    calc(100% - 8px) 18px,
    calc(100% - 19px) 8px,
    113px 8px,
    104px 15px,
    8px 15px,
    105px 16px,
    114px 9px,
    calc(100% - 20px) 9px,
    calc(100% - 9px) 19px,
    calc(100% - 9px) calc(100% - 31px),
    calc(100% - 47px) calc(100% - 9px),
    9px calc(100% - 9px),
    9px 16px,
    106px 16px
  );
  clip-path: polygon(
    8px 15px,
    8px calc(100% - 8px),
    calc(100% - 46px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 30px),
    calc(100% - 8px) 18px,
    calc(100% - 19px) 8px,
    113px 8px,
    104px 15px,
    8px 15px,
    105px 16px,
    114px 9px,
    calc(100% - 20px) 9px,
    calc(100% - 9px) 19px,
    calc(100% - 9px) calc(100% - 31px),
    calc(100% - 47px) calc(100% - 9px),
    9px calc(100% - 9px),
    9px 16px,
    106px 16px
  );
}
.clipped-shape span {
  position: absolute;
  inset: 0;
  -webkit-clip-path: polygon(
    8px 15px,
    8px calc(100% - 8px),
    calc(100% - 46px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 30px),
    calc(100% - 8px) 18px,
    calc(100% - 19px) 8px,
    114px 8px,
    107px 15px
  );
  clip-path: polygon(
    8px 15px,
    8px calc(100% - 8px),
    calc(100% - 46px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 30px),
    calc(100% - 8px) 18px,
    calc(100% - 19px) 8px,
    114px 8px,
    107px 15px
  );
}
.clipped-shape span em {
    /* background-image: var(--bg-gradient, linear-gradient(180deg, rgba(49, 14, 0, 0.4) 0%, rgba(30, 0, 0, 0.4) 100%)); */
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position: absolute;
    inset: 0;
}
.clipped-shape:after {
    content: "";
    background-color: var(--clip-border-color, #fff);
    transition: background-color .4s ease-in-out;
    position: absolute;
    z-index: 1;
    inset: 0;
    -webkit-clip-path: polygon(0px 8px, 0px calc(100% - 0px), calc(100% - 42px) calc(100% - 0px), calc(100% - 0px) calc(100% - 25px), calc(100% - 0px) 14px, calc(100% - 18px) 0px, 112px 0px, 102px 8px, 10px 8px, 0px 8px, 11px 9px, 103px 9px, 113px 1px, calc(100% - 19px) 1px, calc(100% - 1px) 15px, calc(100% - 1px) calc(100% - 26px), calc(100% - 43px) calc(100% - 1px), 1px calc(100% - 1px), 1px 9px, 11px 9px);
    clip-path: polygon(0px 8px, 0px calc(100% - 0px), calc(100% - 42px) calc(100% - 0px), calc(100% - 0px) calc(100% - 25px), calc(100% - 0px) 14px, calc(100% - 18px) 0px, 112px 0px, 102px 8px, 10px 8px, 0px 8px, 11px 9px, 103px 9px, 113px 1px, calc(100% - 19px) 1px, calc(100% - 1px) 15px, calc(100% - 1px) calc(100% - 26px), calc(100% - 43px) calc(100% - 1px), 1px calc(100% - 1px), 1px 9px, 11px 9px);
}